@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.author {
  .titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .photo {
    background-clip: padding-box;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    @include margin-bottom(0);

    img {
      border-radius: 50%;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    @include margin(0.5, 0, 0.5, 0.3);

    h1,
    h2 {
      font-size: $typographic-base-font-size * 1.25;
      font-weight: 600;
      @include line-height(1.5);
      @include margin(0, 0, 0, 0);
    }

    .link {
      color: var(--color-typographic-base-font);

      &:hover,
      &:focus {
        color: var(--color-typographic-base-font);
      }
    }
  }

  .subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(0.4);
  }
}

@include breakpoint-sm {
  .author {
    .titleContainer {
      display: block;
    }

    .photo {
      width: 75px;
      height: 75px;
    }

    .title {
      @include margin-left(0);
    }

    .subtitle {
      @include margin-bottom(1);
    }
  }
}